<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.login">

    <!--인터넷 권한 설정-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ppark"
        android:label="주차 예약 시스템"
        android:roundIcon="@mipmap/ic_ppark2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <uses-library android:name="org.apache.http.legacy"
            android:required="false"/>

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Login.NoActionBar">
        </activity>

        <activity
            android:name=".MainActivity1F_Parking"
            android:exported="true" />
        <activity
            android:name=".MainActivity2F_Parking"
            android:exported="true" />
        <activity
            android:name=".MainActivity_Floor"
            android:exported="true" />

        <activity
            android:name=".RegisterActivity"
            android:exported="true" />

        <activity
            android:name=".mapViewActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".MainActivity_login"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Login.NoActionBar">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Login.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 구글지도 -->
        <uses-library android:name="com.google.android.maps"/>

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.vision"-->
<!--            android:value="@integer/google_play_services_version"/>-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAQJx--Qa_FfTnmQ3YI67FXaSCqYQWz4vA" />
    </application>

</manifest>